.box {
  background: #fff;
  width: 440px;
  padding: 40px;
  box-shadow: 0 6px 0px #d8d8d8;
  border-radius: 4px;
  margin: 0 auto;
  h4 {
    margin: 0;
  }
  h5 {
    margin-top: 0.429em;
  }
  &__buttons {
    display: flex;
    .btn {
      flex-grow: 1;
      transition: 0.2s all ease;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    width: 90%;
    padding: 20px;
  }
}
