@import "../modules/variables.scss";

@keyframes blinkCorrect {
  0% {
    background: $quiz-background;
  }
  50% {
    background: #bbe2ab;
  }
  100% {
    background: $quiz-background;
  }
}

@keyframes blinkCorrectDark {
  0% {
    background: $quiz-background-dark;
  }
  50% {
    background: #5d804f;
  }
  100% {
    background: $quiz-background-dark;
  }
}

@keyframes blinkInCorrect {
  0% {
    background: $quiz-background;
  }
  50% {
    background: #e49a9a;
  }
  100% {
    background: $quiz-background;
  }
}

@keyframes blinkInCorrectDark {
  0% {
    background: $quiz-background-dark;
  }
  50% {
    background: #743c3c;
  }
  100% {
    background: $quiz-background-dark;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
