$color-primary: #3d84a8;
$color-secondary: #a1a8ac;
$color-danger: #e74c3c;
$color-action: #fc5185;

$btn-primary-bg: #fc5185;
$btn-secondary-bg: #31aff5;

$btn-primary-shadow: #e74274;
$btn-secondary-shadow: #318fbf;

$correct-answer: #8ede39;
$correct-answer-shadow: #76c026;
$incorrect-answer: #e74c3c;
$incorrect-answer-shadow: #b42f21;

$quiz-background: #36a6df;
$quiz-background-dark: #1b1b22;
// $quiz-background: #9598be; - second color
$quiz-card-header: #21455f;
$quiz-card-header-dark: #205084;
